footer
  .footer__logo
  ul.footer__nav
    li: a(href='https://github.com/Alllllen/A-card') Github
    li: a(href='https://linkedin.com/in/亞輪-蔡-59aa63186') LinkdIn
  p.footer__copyright &copy; by Allen