header
  link(href='../assets/dist/css/bootstrap.min.css' rel='stylesheet')
  main
    nav.py-2.bg-light.border-bottom
      .container.d-flex.flex-wrap
        ul.nav.me-auto
          li.nav-item
            a.nav-link.link-dark.px-2.active(href='/' aria-current='page') ACARD
        ul.nav
        if user
          li.nav-item
            a.nav-link.link-dark.px-2(href='/messages')
              svg.bi.bi-envelope-fill(xmlns='http://www.w3.org/2000/svg' width='25' height='25' fill='currentColor' viewbox='0 0 16 16')
                path(d='M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555ZM0 4.697v7.104l5.803-3.558L0 4.697ZM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757Zm3.436-.586L16 11.801V4.697l-5.803 3.546Z')
          li.nav-item
            a.nav-link.link-dark.px-2(href='/cards')
              svg.bi.bi-person-badge-fill(xmlns='http://www.w3.org/2000/svg' width='25' height='25' fill='currentColor' viewbox='0 0 16 16')
                path(d='M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2zm4.5 0a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1h-3zM8 11a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm5 2.755C12.146 12.825 10.623 12 8 12s-4.146.826-5 1.755V14a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1v-.245z')
          li.nav-item
            a.nav-link.link-dark.px-2(href='/writePost')
              svg.bi.bi-pencil-fill(xmlns='http://www.w3.org/2000/svg' width='25' height='25' fill='currentColor' viewbox='0 0 16 16')
                path(d='M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z') 
          li.nav-item
            a.nav-link.link-dark.px-2.nav__el(href='/me')
              img.nav__user-img(src=`/img/users/${user.photo}` alt=`Photo of ${user.name}`)
              span.nav-link.link-dark.px-2=user.name.split(' ')[0]
          li.nav-item
            a.nav-link.link-dark.px-2.nav__el--logout(href='/') Log Out
        else
          li.nav-item
            a.nav-link.link-dark.px-2(href='/login') Login
          li.nav-item
            a.nav-link.link-dark.px-2(href='/regist') Sign up
  script(src='../assets/dist/js/bootstrap.bundle.min.js')
