doctype html
html
  head
    block head
      meta(charset='UTF-8')
      meta(name='viewport' content='width=device-width, initial-scale=1.0')
      link(rel='stylesheet' href='/css/style.css')
      link(href='/card.css' rel='stylesheet')
      link(rel='shortcut icon' type='image/png' href='/img/favicon.png')
      link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato:300,300i,700')
      link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3' crossorigin='anonymous')
      title #{title}

  body(data-alert=`${alert ? alert : ''}`)
    // HEADER
    .row.grow.w-100
      .col-12.py-3
        include _header
      // SIDEBAR
      .col-3.py-3
      // CONTENT
      .col-8.h-100.py-3
        block content

      // FOOTER
      .col-12.py-3
        include _footer
    script(src="https://code.jquery.com/jquery-1.10.2.min.js")
    script(src='../assets/dist/js/bootstrap.bundle.min.js')
    script(src="/socket.io/socket.io.js")
    script(src='/js/bundle.js')

  