extends base

block content
  main.main
    .login-form
      h2.heading-secondary.ma-bt-lg Regist your account
      form.form.form--regist
        .form__group
          label.form__label(for='email') Name
          input#name.form__input(placeholder='蔡亞倫', required)
        .form__group
          label.form__label(for='email') Email address
          input#email.form__input(type='email', placeholder='you@example.com', required)
        .form__group.ma-bt-md
          label.form__label(for='password') Password
          input#password.form__input(type='password', placeholder='••••••••', required)
        .form__group.ma-bt-md
          label.form__label(for='password') Password Comfirm
          input#passwordComfirm.form__input(type='password', placeholder='••••••••', required)
        .form__group
          button.btn.btn--green 送出